body {
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: #cccccc;
}

nav {
    width: 100%;
    background: black;
    overflow: auto;
}

ul {
    padding: 0%;
    margin: 0 0 0 650px;
    list-style: none;
}

p {
    line-height: 200%;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-style: unset;
}

li {
    float: left;
}

.logo img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: arial;
    color: #f2f2f2;
    text-align: center;
}

nav a:hover {
    background: rgb(221, 114, 7);
    transition: 0, 5s;
    text-transform: uppercase;
}

.jumbotron {
    background-image: url(slider1.jpg);
    background-size: cover;
    height: 640px;
    margin-top: -150px;
}


.jumbotron .display-4 {
    color: #f2f2f2;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.workingspace {
    margin-top: 120px;
}

.workingspace h3 {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

#rig {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    list-style: none;
    background-color: none;
}

#rig li {
    display: inline-block;
    *display: inline;
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rig-cell {
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    border: none;
    color: rgb(85, 85, 85);
    background-color: rgb(221, 114, 7);
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

.rig-cell h3 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.rig-img1 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url("slider2.jpg");
    background-repeat: no-repeat;
}

.rig-img2 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url("slider3.jpg");
    background-repeat: no-repeat;
}

.rig-img3 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url("slider1.jpg");
    background-repeat: no-repeat;
}

.rig-img4 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url("slider4.jpg");
    background-repeat: no-repeat;
}

.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgb(221, 114, 7);
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s;
}

#rig li:hover .rig-overlay {
    opacity: 0.5;
}

@media(max-width: 9000px) {
    #rig li {
        width: 25%;
    }
}

@media(max-width: 800px) {
    #rig li {
        width: 33.33%;
    }
}

@media(max-width: 500px) {
    #rig li {
        width: 50%;
    }
}

